.filterSec {
  clear: both;
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
}
select.filterSec {
  padding: 10px 5px;
  width: auto;
  padding: 10px 5px;
  width: auto;
  border: 1px solid #848484;
  color: #3699ff;
  background-color: #3e3e51;
  border-radius: 4px;
}

.filterSec img {
  max-width: 100%;
  width: 25px;
  margin-right: 10px;
  vertical-align: bottom;
}

.searchChat {
  position: relative;
}
.searchChat svg {
}
